# Git
.git
.gitignore
.github/

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Byte-compiled / optimized / DLL files
lariska_bot/__pycache__/

# Distribution / packaging
env/

# Virtual environment
.env

# PyCharm
.idea

# user
logs
brief.*
LICENSE
README.md
